@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

body {
  background-color: #25383c;
}
.title {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 13px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.linkcontainer {
  display: flex;
  color: white;
  justify-content: space-around;
  background-color: black;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  background: #ea0e4b;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scale(1, 1);
}

.link {
  position: relative;
  padding: 20px;
  font-family: "Staatliches", cursive;
  cursor: pointer;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.buttoncontainer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  display: flex;
  float: right;
}

.buttonin {
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  font-family: "Staatliches", cursive;
  border: none;
  outline: none;
}

.buttonup {
  padding: 10px;
  font-size: 20px;
  background-color: blue;
  font-family: "Staatliches", cursive;
  border: none;
  outline: none;
  border-radius: 10px;
}

.langbutton {
  padding-top: 17px;
  padding-right: 20px;
  font-size: 20px;
  font-family: "Staatliches", cursive;
}

.interactable {
  display: flex;
}

.home-img {
  display: flex;
  width: 100%;
}

.contentlanding {
  color: white;
  padding: 20px;
}

.matchesimg {
  display: flex;
  height: 150px;
  color: white;
  padding: 10px;
}

.text {
  padding-top: 65px;
  padding-left: 20px;
  padding-right: 20px;
}

.pemberitahuan {
  text-align: center;
  font-size: 20px;
  background-color: black;
  /* margin-left: 400px;
  margin-right: 400px; */
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  font-family: "Staatliches", cursive;
}

marquee {
  background-color: #25383c;
  font-size: 15px;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Staatliches", cursive;
  border-radius: 5px;
}

.stiker1 {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.stiker2 {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.jackpot {
  text-align: center;
  height: 200px;
}

.marqueegambar {
  justify-content: space-around;
  margin: 0 auto;
}

.bodytop {
  padding: 20px;
  margin: 0 auto;
  width: 800px;
  display: flex;
}

.bodymid {
  display: flex;
  justify-content: space-around;
}

.bonus1 {
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 10px;
  width: 500px;
  font-family: "Staatliches", cursive;
  font-size: 25px;
}

.bonus2 {
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 10px;
  width: 500px;
  font-family: "Staatliches", cursive;
  font-size: 25px;
}

.bodybotcontainer {
  background-color: grey;
  display: flex;
  justify-content: space-around;
}

.bodybot {
  color: white;
  width: 300px;
  font-family: "Poppins", sans-serif;
}

.bodybot2 {
  color: white;
  width: 300px;
  font-family: "Poppins", sans-serif;
}

.titlebodybot {
  color: greenyellow;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}

.titlebodybot2 {
  color: greenyellow;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
}

.footer {
  text-align: center;
  color: white;
  font-family: "Staatliches", cursive;
  font-size: 25px;
}
