@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.matchlogo {
  display: flex;
}

.logo {
  height: 200px;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.match1 {
  background-color: black;
}

.match2 {
  background-color: black;
}

.text {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  font-weight: bold;
}

.matchtitle {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    ". . ."
    ". . .";
  justify-content: space-around;
}

.gameimg:hover {
  opacity: 0.5;
}

.gameimg {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 315px;
  height: 185px;
}
